<h1 class="text-center">Home</h1>

<div class="container">

    <div class="col-md-3">
        <button class="btn btn-default"
                data-ng-click="vm.openAddBaseCityModal()"
        >Add city</button>
    </div>

    <div class="col-md-6">
        <h2>Places To Visit</h2>
        <br>
        <table class="table cityTable">
            <thead>
            <tr>
                <th>City</th>
                <th>Temperature <sup>&deg</sup></th>
                <th>Weather condition</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="capital in vm.capitalsService.data track by $index" data-ng-class="vm.getClass(capital)">
                <td>
                    {{capital.title}}
                </td>
                <td>0<sup>&deg</sup></td>
                <td>Sunny</td>
                <td>
                    <button type="button" class="close" data-ng-click="vm.capitalsService.remove(capital)"><span>&times;</span></button>

                    <button class="btn btn-default"
                            data-ng-click="vm.capitalsService.changeStatus(capital, 1)"
                    >Visited</button>

                    <button class="btn btn-default"
                            data-ng-click="vm.capitalsService.changeStatus(capital, 2)"
                    >going to</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-3">
        <div class="col-md-2">
            <button class="btn btn-default"
                    data-ng-click="vm.capitalsService.reset()"
            >Reset city list</button>
        </div>
    </div>

</div>
