
<ul class="cb-slideshow">
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
</ul>
<div class="container">

    <div class="col-md-2 addCity">
        <button class="btn btn-default"
                data-ng-click="vm.openAddBaseCityModal()"
        >Add city</button>
    </div>

    <div class="col-md-8 cityList">
        <h1 class="text-center">Places To Visit</h1>
        <hr>
        <div class="filters">
            <div class="radio" data-ng-repeat="option in vm.filterOptions">
                <label>
                    <span data-ng-bind="option.title"></span>
                    <input id="filterInput" type="radio" data-ng-model="vm.activeFilter" data-ng-value="option.key">
                </label>
            </div>
        </div>
        <hr>

        <table class="table">
            <thead>
            <tr>
                <th>City</th>
                <th>Temperature <sup>&deg</sup></th>
                <th>Weather condition</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="capital in vm.capitals.data | orderBy:'weather.main.temp' | filter : vm.myFilter  track by $index"
                data-ng-class="{
                    'visited': capital.visited,
                    'going_to_visit': capital.going_to_visit
                }">
                <td id="align">
                    {{capital.title}}
                </td>
                <td>
                    {{capital.weather.main.temp}} <sup>&deg</sup>F
                </td>
                <td>
                    {{capital.weather.weather[0].description}}
                    <img ng-src="http://openweathermap.org/img/w/{{capital.weather.weather[0].icon}}.png" alt='Icon depicting current weather.'>
                </td>
                <td>
                    <button id="buttonVisit"
                            class="btn btn-md"
                            data-ng-click="capital.toggleVisited();vm.capitalsService.update()"
                            data-toggle="tooltip" title="Visited!"
                    ><span>&#10004;</span></button>

                    <button id="buttonVisit"
                            class="btn btn-md"
                            data-ng-click="capital.togglePlanningToVisit()"
                            data-toggle="tooltip" title="PlanningToVisit"
                    ><span>&#9992;</span></button>

                    <button id="buttonVisit"
                            class="btn btn-md"
                            data-ng-click="vm.capitalsService.data.remove(capital)"
                            data-toggle="tooltip" title="Delete from list"
                    ><span>&#10008;</span></button>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        <button class="btn btn-default"
                data-ng-click="vm.capitalsService.reset()"
        >Reset city list</button>
    </div>

</div>
